<div class="col-lg-12 home-div3">

  <br>
  <%= image_tag("circle.png", class: "home-image pull-center") %>
  <h1> Nicole Marino</h1>
  <hr class="square-light">
  <h2> UI/UX - Web Developer</h2>
</div>
<div class="half">
<div class="col-lg-6 home-div1">
  <h1> About Me:</h1>
  <hr class="square-light">
  <div class="home-p">
  I am a Junior Developer who recently graduated from Turing School of Software and Design in Denver. I'm a self motivated learner looking for an opportunity where I can create a connection between my technical skills and my experience with building a relationship with clients.
  Before attending Turing, I was a WordPress Developer for a small holistic health clinic in Colorado. I was comfortable in my position, but I wanted a challenge.
At Turing I learned how to use real world applicable skills such as JavaScript & JQuery, Ruby on Rails, and much more. Not only does Turing enforce good code standards, it also teaches its students a sense of community. I left with the ability to effectively pair program, set up student led sessions, and create a voice for social issues. As a developer, I strive to make a positive impact on the teams I am apart of and the field to which I contribute.
My passion drives me to come to work everyday with positivity and excitement with each new project.
<br>
<br>
<br>

</div>
</div>

<div class="col-lg-6 home-div2">
  <h1>Skills</h1>
  <hr class="square-light">
  <ul style="list-style-type:none", class="home-ul">
  <li> Ruby on Rails</li>
  <li> JavaScript & JQuery</li>
  <li> Bootstrap</li>
  <li> TDD- RSpec, Capybara, MiniTest</li>
  <li> RESTful APIs</li>
  <li> CSS & HTML5</li>
  <li> oAuth & Bcrypt</li>
  <li> Paired Programming</li>
  <li> ActiveRecord</li>
  <li> PostgreSQL</li>
  <li> MVC Frameworks</li>
  <li>Agile Workflow<li>
</ul>
  <br>
</div>
</div>
<footer class="text-center footer-home col-md-12">
    <div class="footer-above">
        <div class="container">
            <div class="row">
              <div class="footer-col col-md-6 pull-left">
                <ul class="list-inline pull-left">
                  <li>
                    <h4>Email</h4>
                    <p>nicolekristenmarino@gmail.com</p>
                  </li>
                <li>
                  <h4>Phone</h4>
                  <p>928-458-6631</p>
                </li>
              </div>
              <div class="footer-col col-lg-6">
                  <ul class="list-inline pull-center">
                      <li>
                        <%=link_to image_tag("github.png", class: "icon"), "https://github.com/NicoleKMarino"%>
                      </li>
                      <li>
                        <%=link_to image_tag("facebook.png", class: "icon"), "https://www.facebook.com/nicoleKmarino"%>
                      </li>
                      <li>
                        <%=link_to image_tag("linkdin.png", class: "icon"), "https://www.linkedin.com/in/nicolekmarino"%>
                      </li>
                  </ul>
              </div>
          </div>

        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
</footer>
